$colorFont: #3a3a3a;
$colorBg: #f1f1fb;
$colorGray: #777676;
$colorGrayLight: #b5b3b3;
$colorGrayDark: #333;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorYellow: #dcae17;
$colorBlueDark: #303c6c;
$colorBlue: #3449a0;
$colorRed: #e0214a;
$colorGreen: #46b365;

$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;

$pc: 1200px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;
